<table>
    <tr class="stretch-height">
        <td class="a">A1</td><td class="b">B1</td><td class="c">C1</td><td class="d">D1</td><td class="e">E1</td><td class="f">F1</td><td class="g">G1</td><td class="h">H1</td><td class="i">I1</td><td class="j">J1</td><td class="k">K1</td>
    </tr>
    <tr>
        <td class="a">A2</td><td class="b">B2</td><td class="c">C2</td><td class="d">D2</td><td class="e">E2</td><td class="f"></td><td class="g">G2</td><td class="h">H2</td><td class="i">I2</td><td class="j">J2</td><td class="k">K2</td>
    </tr>
    <tr class="half-height">
        <td class="a">A3</td><td class="b">B3</td><td class="c">C3</td><td class="d">D3</td><td class="e">E3</td><td class="f">F3</td><td class="g">G3</td><td class="h">H3</td><td class="i">I3</td><td class="j">J3</td><td class="k">K3</td>
    </tr>
    <tr>
        <td class="a">A4</td><td class="b">B4</td><td class="c">C4</td><td class="d">D4</td><td class="e">E4</td><td class="f">F4</td><td class="g">G4</td><td class="h">H4</td><td class="i">I4</td><td class="j">J4</td><td class="k">K4</td>
    </tr>
    <tr class="half-height">
        <td class="a">A5</td><td class="b">B5</td><td class="c">C5</td><td class="d">D5</td><td class="e">E5</td><td class="f">F5</td><td class="g">G5</td><td class="h">H5</td><td class="i">I5</td><td class="j">J5</td><td class="k">K5</td>
    </tr>
    <tr>
        <td class="a">A6</td><td class="b">B6</td><td class="c">C6</td><td class="d">D6</td><td class="e">E6</td><td class="f">F6</td><td class="g">G6</td><td class="h">H6</td><td class="i">I6</td><td class="j">J6</td><td class="k">K6</td>
    </tr>
    <tr class="half-height">
        <td class="a">A7</td><td class="b">B7</td><td class="c">C7</td><td class="d">D7</td><td class="e">E7</td><td class="f">F7</td><td class="g">G7</td><td class="h">H7</td><td class="i">I7</td><td class="j">J7</td><td class="k">K7</td>
    </tr>
    <tr>
        <td class="a">A8</td><td class="b">B8</td><td class="c">C8</td><td class="d">D8</td><td class="e">E8</td><td class="f">F8</td><td class="g">G8</td><td class="h">H8</td><td class="i">I8</td><td class="j">J8</td><td class="k">K8</td>
    </tr>
    <tr class="half-height">
        <td class="a">A9</td><td class="b">B9</td><td class="c">C9</td><td class="d">D9</td><td class="e">E9</td><td class="f">F9</td><td class="g">G9</td><td class="h">H9</td><td class="i">I9</td><td class="j">J9</td><td class="k">K9</td>
    </tr>
    <tr>
        <td class="a">A10</td><td class="b">B10</td><td class="c">C10</td><td class="d">D10</td><td class="e">E10</td><td class="f">F10</td><td class="g">G10</td><td class="h">H10</td><td class="i">I10</td><td class="j">J10</td><td class="k">K10</td>
    </tr>
    <tr class="half-height">
        <td class="a">A11</td><td class="b">B11</td><td class="c">C11</td><td class="d">D11</td><td class="e">E11</td><td class="f">F11</td><td class="g">G11</td><td class="h">H11</td><td class="i">I11</td><td class="j">J11</td><td class="k">K11</td>
    </tr>
    <tr class="stretch-height">
        <td class="a">A12</td><td class="b">B12</td><td class="c">C12</td><td class="d">D12</td><td class="e">E12</td><td class="f">F12</td><td class="g">G12</td><td class="h">H12</td><td class="i">I12</td><td class="j">J12</td><td class="k">K12</td>
    </tr>
    <tr class="stretch-height">
        <td class="a">A13</td><td class="b">B13</td><td class="c">C13</td><td class="d">D13</td><td class="e">E13</td><td class="f">F13</td><td class="g">G13</td><td class="h">H13</td><td class="i">I13</td><td class="j">J13</td><td class="k">K13</td>
    </tr>
</table>