<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="fragments/base::title"></title>
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/base::header"></header>
<div>
<!-- Боковое меню -->
<aside th:replace="fragments/aside::aside">
    <c:if test="${user.authorities.contains('ROLE_ADMIN')}">
        <li><a href="#message">Администрирование</a></li>
    </c:if>
</aside>

<!-- Основной контент -->
<main>
    <div class="container">
        <h2>Информация о компании</h2>
        <div class="input-field">
            <label class="label" for="companyName">Название компании:</label>
            <input type="text" id="companyName" class="input" readonly value="${company.Name}">
        </div>
        <div class="input-field">
            <label class="label" for="companyAddress">Адрес компании:</label>
            <input type="text" id="companyAddress" class="input" readonly value="${company.address}">
        </div>
        <div class="input-field">
            <label class="label" for="companyEmail">Email компании:</label>
            <input type="email" id="companyEmail" class="input" readonly value="${company.eMail}">
        </div>
    </div>
</main>
</div>

<footer th:replace="fragments/footerAdmin::footer"></footer>
<script src="/js/messages.js"></script>
</body>
</html>