<!DOCTYPE html>
<html lang="ru" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS Tracker</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header> <h1>Сообщения</h1>
</header>
<div class="container">
    <h1>Таблица с данными</h1>
    <input type="text" id="message-filter" placeholder="Введите сообщение для фильтрации">
    <table id="item-table">
        <thead>                
        <tr>                    
            <th>Дата создания</th>
            <th>Сообщение</th>                
        </tr>            
        </thead>            
        <tbody></tbody>        
    </table>        

</div>
<footer>
    <div class="container">
        <p>Вы вошли в систему как администратор?</p>
        <c:if test="${user.authorities.contains('ROLE_ADMIN')}">
            <button class="btn btn-primary" onclick="redirectToAdminPage()" type="button">Кнопка администратора</button>
        </c:if>
        <button class="btn btn-danger" id="logout-button" type="button">Выйти</button>
        <p>&copy; 2024 Perminov production</p>
    </div>
</footer>
<script src="/js/logout.js"></script>
<script src="/js/items.js"></script>
</body></html>