<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPS Tracker</title>
    <link href="/css/styles.css" rel="stylesheet">
    <script>
        function createUser() {
        window.location.href = "/admin/create";
        }
    </script>
</head>
<body>
<header>
    <h1>Список пользователей</h1>
</header>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID пользователя</th>
            <th>Имя пользователя</th>
            <th>Электронная почта</th>
            <th>Роль</th>
            <th>Время окончания токена</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}">ID пользователя</td>
            <td th:text="${user.username}">Имя пользователя</td>
            <td th:text="${user.email}">Электронная почта</td>
            <td>
                <div th:each="role : ${user.roles}">
                    <span th:text="${role}">Роль</span>
                </div>
            </td>
            <td>
                <span th:if="${user.tokenAccess != null}" th:text="${user.tokenAccess.endData}">Вход не выполнялся</span>
                <span th:if="${user.tokenAccess == null}">Не заходил</span>

            </td>

            <td>
                <a href="#" class="btn btn-primary" th:href="@{/admin/update/{id}(id=${user.id})}">Редактировать</a>
                <a href="#" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить пользователя?')">Удалить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="create-user-button-container">
        <button class="btn btn-primary" onclick="createUser()">Создать пользователя</button>
        <button id="back-button" class="btn">Назад</button>
    </div>
</div>
<footer>
    <div class="container">
        <button id="logout-button" class="btn">Выйти</button>
        <p>&copy; 2024 Perminov production</p>
    </div>
</footer>
<script src="/js/admin.js"></script>
</body>
</html>