<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование пользователя</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/user-edit.js"></script>

    <script>
        $(document).ready(function() {
        $('.datepicker').datepicker({
        dateFormat: 'yy-mm-dd hh:mm',
        changeMonth: true,
        changeYear: true,
        yearRange: 'c-100:c+100',
        });
        });
    </script>
</head>
<body>
<div class="container">
    <h1>Редактирование пользователя</h1>
    <form action="/" method="POST" th:object="${user}">
        <div class="form-group">
            <label for="id">ID</label>
            <input class="form-control" id="id" name="id" readonly="readonly" th:field="*{id}" type="text"/>
        </div>
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" class="form-control" id="username" name="username" th:field="*{username}" required="required" />
        </div>
        <div class="form-group">
            <label for="realPassword">Пароль</label>
            <input class="form-control" id="realPassword" name="realPassword" required="required" th:field="*{realPassword}"
                   type="password"/>
        </div>
        <div class="form-group">
            <label for="email">Электронная почта</label>
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required="required" />
        </div>
        <div class="form-group">
            <label for="tokenAccess">Token Access</label>
            <input class="form-control datepicker" id="tokenAccess" name="tokenAccess" required="required"
                   th:field="*{tokenAccess.endData}" type="text"/>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <button type="submit">Обновить</button>
        <button type="button" class="btn btn-danger" onclick= "window.location.href = '/admin/users-list'">Отменить</button>    </form>
</div>
</body>
</html>